body {
    direction: rtl;
    margin: 0;
    padding: 0;
}

.f-parent {
    flex: 0 0 100%;
    max-width: 100%;
    height: 400px;
    background-color: black;
}

.f-parent .d-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.f-parent .d-parent .s-parent {
    display: flex;
    flex: 0 0 20%;
    max-width: 20%;
}

.f-parent .d-parent .s-parent .c-1 {
    background-color: blue;
    height: 200px;
    flex: 0 0 100%;
    max-width: 100%;
}

.f-parent .d-parent .s-parent {
    display: flex;
}

.f-parent .d-parent .c-s .c-2,
.f-parent .d-parent .c-s .c-3 {
    height: 200px;
    flex: 0 0 50%;
    max-width: 50%;
    background-color: brown;
}

.f-parent .d-parent .c-s .c-3 {
    background-color: rgb(175, 160, 20);
}

.f-parent .d-parent .c-p {
    display: flex;
    height: 200px;
}

.f-parent .d-parent .c-p .c-4,
.f-parent .d-parent .c-p .c-5,
.f-parent .d-parent .c-p .c-6 {
    background-color: darkmagenta;
    flex: 0 0 33.3%;
    max-width: 33.3%;
}

.f-parent .d-parent .c-p .c-5 {
    background-color: chocolate;
}

.f-parent .d-parent .c-p .c-6 {
    background-color: forestgreen;
}